 header {
   background: #141414;
   backdrop-filter: blur(40px);
   color: aliceblue;
 }


 .logo {
   font-size: 30px;
   color: #d4d4d4;
 }

 .logo:hover {
   color: #ffff;
 }

 .list-header a {
   color: #d4d4d4;
 }

 .list-header a:hover {
   color: #ffff;
 }